@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background: #202128;
	color: white;
}

.sportclub-button {
	background-color: #000;
	color: #000;
	text-align: center;
	color: white;
	padding: 10px;
	transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.sportclub-button:hover {
	background-color: #ffd300;
	color: black;
}

.sportclub-td {
	background-color: white;
	color: black;
}

.sportclub-td:hover {
	background-color: #202128;
	color: white;
}
